<header>
    <h1>{{title}}</h1>
    <a href="/show">Show All Devices</a>
    <a href="/add">Add New Device</a>
    <a href="/remove">Remove Device</a>
    <a>Welcome, {{name}}</a>
    <button type="submit" href="/signout">Signout</button>
</header>