<html>
    <head>
        <title>Weather</title>
        <link type="text/css" href="css/style.css" rel="stylesheet">
    <body>
        <div class="main-contain">
            {{> header}}
            <p>{{text}}</p>
    </body>
</html>